<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mms.mapper.SysAclMapper">

    <resultMap type="com.lx.mms.entity.SysAcl" id="SysAclMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="aclModuleId" column="acl_module_id" jdbcType="INTEGER"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="operatorTime" column="operate_time" jdbcType="TIMESTAMP"/>
        <result property="operatorIp" column="operate_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysAclMap">
        select
          id, name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip
        from mms.sys_acl
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysAclMap">
        select
          id, name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip
        from mms.sys_acl
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysAclMap">
        select
          id, name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip
        from mms.sys_acl

    </select>

    <select id="querybyAclModelId" resultMap="SysAclMap">
        select
          id, name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip
        from mms.sys_acl
        where acl_module_id = #{aclModuleId}
    </select>
    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mms.sys_acl(name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip)
        values (#{name}, #{aclModuleId}, #{code}, #{url}, #{type}, #{status}, #{seq}, #{remark}, #{operator}, #{operatorTime}, #{operatorIp})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mms.sys_acl
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="aclModuleId != null">
                acl_module_id = #{aclModuleId},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="seq != null and seq != ''">
                seq = #{seq},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operatorTime != null">
                operate_time = #{operatorTime},
            </if>
            <if test="operatorIp != null and operatorIp != ''">
                operate_ip = #{operatorIp},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mms.sys_acl where id = #{id}
    </delete>

    <select id="checkExit" resultMap="SysAclMap">
        select
          id, name, acl_module_id, code, url, type, status, seq, remark, operator, operate_time, operate_ip
        from mms.sys_acl
        where acl_module_id = #{aclModuleId} and name = #{name}
        <if test="id != null">
            and id != #{id}
        </if>

    </select>
</mapper>