<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mms.mapper.SysDeptMapper">

    <resultMap type="com.lx.mms.entity.SysDept" id="SysDeptMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="parentId" column="parent_id" jdbcType="INTEGER"/>
        <result property="level" column="level" jdbcType="VARCHAR"/>
        <result property="seq" column="seq" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="operatorTime" column="operate_time" jdbcType="TIMESTAMP"/>
        <result property="opetatorIp" column="operate_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysDeptMap">
        select
          id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        from mms.sys_dept
        where id = #{id}
    </select>

    <select id="queryByParentIdAndDeptName" resultMap="SysDeptMap">
        select
          id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        from mms.sys_dept
        where parent_id = #{parentId} and name = #{deptName}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysDeptMap">
        select
          id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        from mms.sys_dept
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysDeptMap">
        select
          id, name, parent_id, level, seq, remark, operator, operate_time, operate_ip
        from mms.sys_dept

    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mms.sys_dept(name, parent_id, level, seq, remark, operator, operate_time, operate_ip)
        values (#{name}, #{parentId}, #{level}, #{seq}, #{remark}, #{operator}, #{operatorTime}, #{opetatorIp})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mms.sys_dept
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="level != null and level != ''">
                level = #{level},
            </if>
            <if test="seq != null">
                seq = #{seq},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operatorTime != null">
                operate_time = #{operatorTime},
            </if>
            <if test="opetatorIp != null and opetatorIp != ''">
                operate_ip = #{opetatorIp},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mms.sys_dept where id = #{id}
    </delete>

</mapper>