<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lx.mms.mapper.SysLogMapper">

    <resultMap type="com.lx.mms.entity.SysLog" id="SysLogMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="targetId" column="target_id" jdbcType="INTEGER"/>
        <result property="oldvalue" column="oldvalue" jdbcType="VARCHAR"/>
        <result property="newvalue" column="newvalue" jdbcType="VARCHAR"/>
        <result property="operator" column="operator" jdbcType="VARCHAR"/>
        <result property="operatorTime" column="operate_time" jdbcType="TIMESTAMP"/>
        <result property="operatorIp" column="operate_ip" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="SysLogMap">
        select
          id, type, target_id, oldvalue, newvalue, operator, operate_time, operate_ip, status
        from mms.sys_log
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="SysLogMap">
        select
          id, type, target_id, oldvalue, newvalue, operator, operate_time, operate_ip, status
        from mms.sys_log
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="SysLogMap">
        select
          id, type, target_id, oldvalue, newvalue, operator, operate_time, operate_ip, status
        from mms.sys_log

    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into mms.sys_log(type, target_id, oldvalue, newvalue, operator, operate_time, operate_ip, status)
        values (#{type}, #{targetId}, #{oldvalue}, #{newvalue}, #{operator}, #{operatorTime}, #{operatorIp}, #{status})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update mms.sys_log
        <set>
            <if test="type != null">
                type = #{type},
            </if>
            <if test="targetId != null">
                target_id = #{targetId},
            </if>
            <if test="oldvalue != null and oldvalue != ''">
                oldvalue = #{oldvalue},
            </if>
            <if test="newvalue != null and newvalue != ''">
                newvalue = #{newvalue},
            </if>
            <if test="operator != null and operator != ''">
                operator = #{operator},
            </if>
            <if test="operatorTime != null">
                operate_time = #{operatorTime},
            </if>
            <if test="operatorIp != null and operatorIp != ''">
                operate_ip = #{operatorIp},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from mms.sys_log where id = #{id}
    </delete>

    <select id="queryByCondition" resultMap="SysLogMap">
        select
          id, type, target_id, oldvalue, newvalue, operator, operate_time, operate_ip, status
        from mms.sys_log

        <where>
            <if test="type != null">
                AND type = #{type}
            </if>
            <if test="beforeSeg != null and beforeSeg != ''">
                AND oldvalue like #{beforeSeg}
            </if>
            <if test="afterSeg != null and afterSeg != ''">
                AND newvalue like #{afterSeg}
            </if>
            <if test="operator != null and operator != ''">
                AND operator like #{operator}
            </if>
            <if test="fromTime != null">
                AND operate_time &gt;= #{fromTime}
            </if>
            <if test="toTime != null">
                AND operate_time &lt;= #{toTime}
            </if>
        </where>

        order by operate_time desc
    </select>
</mapper>